.game-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/GAME10-1024x576.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 30px 0;
}
  
  .game-active-container {
    width: 100%;
    margin: 0 ;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .game-settings h1, h2 {
    text-align: center;
    color: #333;
  }
  
  .setting, .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin: 5px;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    border: #007bff 4px solid;
  }
  
  .setting h2 {
    color: #007bff;
    font-size: 24px;
    margin: 5px;
  }
  
  .game-settings-button {
    margin-top: 2px;
    padding: 10px 20px;
    font-size: 24px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .game-settings button:hover {
    background-color: #0056b3;
  }
  
  #countdown {
    font-size: 24px;
    color: #ff0000;
    margin-top: 20px;
  }

  .button-logo{
    color: #fff;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    width: 80%;
  }
  
