.User{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.Login-btn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.Sign-out-btn{
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: auto;
    opacity: 0.9;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.Login-btn:hover {
    opacity: 1;
}

.Sign-out-btn:hover {
    opacity: 1;
}

.User-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.container {
    padding: 16px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.container h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.contents{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: rgb(191, 224, 243);
    border-radius: 5px;
    width: 40%;
    border: 2px solid rgb(49, 100, 238); ;
}

.contents ul{
    list-style-type: none;
    padding: 0;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.contents ul p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 2px solid rgb(49, 100, 238);
    background-color: #2309b9;
    color: #ffffff;
}

.contents ul li{
    padding: 10px;
    border-bottom: 1px solid rgb(49, 100, 238);
    font-weight: normal;
    padding-top: 20px;
    font-size: medium;
}

.contents ul li :first-child{
    font-weight: bold;
}

.contents ul li a{
    text-decoration: none;
    color: rgb(78, 134, 238);
}

.contents ul li:hover{
    background-color: rgb(246, 248, 255);
}